<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Day:</strong>
  <%= @course.day %>
</p>

<p>
  <strong>Time:</strong>
 <%= @course.hour.strftime("%I:%m %p") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<td><%= link_to 'Suscribe', new_booking_path(:course=> @course.name, :day=> @course.day) %></td> |
<%= link_to 'Back', courses_path %>
